.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.grid-item {
  min-height: 0;
}

.item-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #nav {
    display: flex;

    a {
      padding: 0.5rem 1rem;
    }
  }
}
