.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto minmax(0, 1fr) auto auto;
  grid-template-areas:
    "i1 i1 i1 i1"
    "i2 i3 i4 i5"
    "i6 i6 i4 i5"
    "i7 i7 i7 i7";
  gap: 1rem;
}

.grid-item {
  min-height: 0;
}

.item-1 {
  grid-area: i1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #nav {
    display: flex;

    a {
      padding: 0.5rem 1rem;
    }
  }
}

.item-2 {
  grid-area: i2;
}

.item-3 {
  grid-area: i3;
}

.item-4 {
  grid-area: i4;
}

.item-5 {
  grid-area: i5;
}

.item-6 {
  grid-area: i6;
}

.item-7 {
  grid-area: i7;
}
